<div class="app-wrapper">

  <header class="header">
    <div class="logo-container">
      <img src="asset/PS.png" alt="" class="logo">
    </div>

    <div class="search-bar">
      <div class="search-text">
        <label>Adresse</label>
        <input type="text" placeholder="...">
      </div>
      <span class="material-icons mic-icon">mic</span>
    </div>
  </header>

  <main class="map-area">
    <div class="map-instruction-overlay">DANS 15 METRES</div>
  </main>

  <footer class="bottom-panel">
    <div class="drag-handle"></div>

    <div class="instruction-row">
      <div class="yellow-circle">
        <span class="material-icons">turn_right</span>
      </div>
      <div class="instruction-content">
        <p class="dist">DANS 15 METRES</p>
        <h1 class="action">A <br> DROITE</h1>
        <p class="street">RUE ....</p>
      </div>
    </div>

    <div class="stats-row">
      <div class="stat-group">
        <span class="st-label">ARRIVEE ESTIMEE</span>
        <span class="st-val">14:36</span>
      </div>
      <div class="stat-group align-right">
        <span class="st-label">RESTANT</span>
        <span class="st-val">5 MIN</span>
        <span class="st-sub">500m</span>
      </div>
    </div>
  </footer>

</div>
