:host {
  display: block;
  height: 100vh;
  background-color: #000000; /* fond noir */
  color: white;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.talk-btn {
  width: 270px;
  height: 300px;
  background: #EEFF00 !important;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.talk-btn mat-icon {
  font-size: 140px !important;
  width: 140px !important;
  height: 140px !important;
  color: #EEFF00 !important;
}

.circle-border {
  width: 100px;
  height: 100px;
  background: #000;   /* cercle noir */
  border-radius: 50%;
  margin-top: 20px;

  /* display: flex; */
  justify-content: center;
  align-items: center;
}

p {
  font-weight: 800;
  font-size: 30px;

  letter-spacing: 1px;
}


.neon {
  box-shadow:
    0 0 20px #EEFF00,
    0 0 40px #EEFF00,
    0 0 80px #EEFF00;
    border-radius: 15%;
}

.pulse {
  animation: pulseAnim 1.5s infinite ease-in-out;
}

@keyframes pulseAnim {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.08); }
  100% { transform: scale(1); }
}




/* Animation des points après "Parlez" */
.dot-typing::after {
  content: '...';
  display: inline-block;
  animation: ellipsis 1.5s infinite;
  width: 20px;
  text-align: left;
}

@keyframes ellipsis {
  0% { content: '.'; }
  33% { content: '..'; }
  66% { content: '...'; }
}

/* Texte en cours de capture (un peu transparent) */
.interim {
  opacity: 0.6;
  font-style: italic;
}

.transcript-display {
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}